.header:before
    content ''
    position fixed
    left 0
    right 0
    z-index -1
    display block
    background-image url('http://vicmas.com/datacivica/fellowship/deforestacion/images/arbolits.jpg?crc=3910483410')
    background-repeat no-repeat
    background-size cover
    width 100%
    height 100%
.header 
    height 300px
    /*.bg-img
        
        display block */
    .row .text
        font-family 'Roboto Slab', serif
        color #252525
        h1 
            font-size 40px
            font-weight 700