<app-header></app-header>
<aside>
  <ul>
    <li>
      <a class="github" href="https://github.com/fellowshipDC/pinos" target="_blank"><i class="fa fa-github fa-3x"></i></a>
    </li>
    <li>
      <a class="twitter twitter-share-button" href="https://twitter.com/intent/tweet?text=M%C3%A9xico%20se%20comprometi%C3%B3%20a%20disminuir%20la%20deforestaci%C3%B3n%20a%20tasas%20m%C3%ADnimas%20para%20el%202020.%20%C2%BFC%C3%B3mo%20vamos%3F&hashtags=forestwatch"
        target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
    </li>
  </ul>
</aside>
<app-intro></app-intro>
<app-map></app-map>
<app-infomexico></app-infomexico>
<app-form></app-form>

