<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="explora col-md-2">
      <h4>Explora los datos</h4>
      <hr>
      <p>Problema a visualizar:
        <br>
        Hectáreas deforestadas
        <br>
        Toneladas de CO2 emitidas por deforestación
      </p>
      <hr>
      <p>Año de análisis</p>
      <mat-slider #slide min="2001" max="2016" step="1" thumbLabel (change)="changeYear(slide.value)"></mat-slider>      
    </div>
  
    <div class="mapcol col-md-8 col-sm-10 text-center">
      <div id="mapid" class="text-center"></div>
    </div>
  </div>
</div>

