.title
    h3  
        font-size 44px
        font-family 'Roboto Slab', serif
        overflow-wrap break-word
        color #7C7C7C
        margin-bottom 35px
.explora 
    background-color rgba(241,241,241,0.6)
    color #3F3F3F
    font-family 'Raleway', sans-serif
    border-radius 30px 0 0 30px
    min-height 100%
    h4  
        margin-top 25px
    p.lista
        font-size 15px
    mat-slider 
        margin-top 15px
    p.national
        font-size 14px
#mapid 
    min-height 500px
    min-width 100%
    margin-left -15px
    &::ng-deep
        .info
            background-color rgba(241,241,241,0.5)
            opacity 0.9
            text-align center
            padding 15px 15px 15px 15px
            h4  
                font-size 19px
            p  
                font-size 15px
        .info.legend
            text-align left
            padding 4px 4px 4px 4px
            i  
                font-size 18px


@media screen and (max-width: 991px) 
    .explora 
        text-align center
        border-radius 0
    .mapcol
        padding 0
        #mapid
            min-height 300px
            &::ng-deep
                .info
                    margin-bottom 35px
                    h4   
                        font-size 20px
                    p 
                        font-size 12px
                .info.legend
                    display none

@media screen and (max-width: 575px) 
    .title h3  
        font-size 32px
    