#mapid 
    min-height 400px
    min-width 150px
    &::ng-deep
        .info
            background-color rgba(241,241,241,0.8)
            opacity 0.9
            text-align center
            h4  
                font-size 25px
        .info.legend
            text-align left
            padding 4px 4px 4px 4px
            i  
                font-size 18px


@media screen and (max-width: 991px) 
    .explora 
        text-align center
    #mapid
        &::ng-deep
            .info
                margin-bottom 35px
            .info.legend
                display none