#mapid 
    min-height 400px
    min-width 150px
    .info
        background-color gray 
        
@media screen and (max-width: 991px)
    .container-fluid .row .mapcol 
        #mapid .info.legend
            display none