<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="title text-center col-12">
      <h3>¿Cómo vamos?</h3>
    </div>
    <div class="explora col-lg-2 col-md-6 text-center">
      <h4>Explora los datos</h4>
      <hr>
      <p>- Visualiza -</p>
      <p class="lista">
        Hectáreas deforestadas.<br>
        Toneladas de CO2 emitidas por deforestación.
      </p>
      <hr>
      <p>- Selecciona -</p>
      <p class="lista">
        Año de análisis</p>
      <mat-slider #slide min="2001" max="2016" step="1" thumbLabel (change)="changeYear(slide.value); setmap()"></mat-slider>
      <p class="national">A nivel nacional:<br>
        {{nationalTL}} Ha<br>
        {{nationalCo2}} MT CO2
      </p>          
    </div>
    <div class="mapcol col-lg-7 col-md-10 col-sm-12 text-center">
      <div id="mapid" class="text-center"></div>
    </div>
  </div>
</div>

