<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="text col-lg-10 col-md-10 text-center">
      <h3>¡Tenemos que detener esto!</h3>
      <p class="lead">¡Súmate a nuestro esfuerzo colectivo!</p>
      <p><a href="http://www.globalforestwatch.org/" target="_blank">Infórmate.</a>
        <a href="https://twitter.com/intent/tweet?text=La+deforestaci%C3%B3n+en+M%C3%A9xico+alcanz%C3%B3+su+segundo+nivel+m%C3%A1s+alto%2C+en+los+%C3%BAltimos+quince+a%C3%B1os%2C+en+2016.+Hay+que+informarnos+c%C3%B3mo+ha+progresado%2C+c%C3%B3mo+nos+afecta+y+qu%C3%A9+podemos+hacer.&hashtags=forestwatch" target="_blank">
          Difunde.</a>
        <a href="http://www.wri.org/blog/2017/10/two-rules-thumb-slash-environmental-impact-your-diet" target="_blank">Consume responsablente.</a>
      </p>
      <hr>
    </div>
    <div class="form col-lg-6 col-md-8 col-sm-10">
      <h4>Descubre más y déjanos conocer tu opinión.</h4>
      <div class="form-group">
        <p>¿Consideras que México alcanzará la meta de cero de emisiones
            por cambios de uso del suelo forestal para el 2020?<br></p>
        <div id="form1">
          <div class="form-check">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                [value]="data.target.yes.value"
                [checked]="data.target.yes.checked">
              Sí
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                [value]="data.target.no.value"
                [checked]="data.target.no.checked">
              No
            </label>
          </div>
        </div>
      </div>
      <div class="seemore">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <p id="discover1">México pertenece a organizaciones internacionales (REDD+ FAO y FCPF WB), con los que han
        desarrollado proyectos exitosos, pero hay mucho trabajo por delante...
        <a href="https://www.forestcarbonpartnership.org/sites/fcp/files/2016/Sep/FCFP%20Annual%20Report%20FY16.pdf" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
        </p>
      </div>
      <div class="form-group">
        <p>¿Cuál crees que es el sector que genera mayores emisiones de CO2?<br></p>
        <div id="form2">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="option1" checked>
              Sector Industrial (excluyendo energético)
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="option2">
              Sector agrícola
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="option3">
              Sector energético
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" value="option4">
              Sector Transportes
            </label>
          </div>
        </div>
      </div>
      <div class="seemore">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <p id="discover2">El sector energético ocupa el primer lugar, siendo responsable del 25% de las emisiones,
          seguido del sector agrícola con el 24%. Los cambios en la demanda generan presión en la
          política pública y en la industria. Lee un ejemplo sobre el alcance de la microacción
        <a href="http://www.wri.org/blog/2016/04/how-i-tweaked-my-diet-cut-its-environmental-footprint-half" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
          y por qué es importante.
        <a href="http://www.wri.org/blog/2016/04/sustainable-diets-what-you-need-know-12-charts" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
      </p>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="submit()">Ve las respuestas</button>
      </div>
    </div>
  </div>
</div>
