<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="text col-lg-10 col-md-10 text-center">
      <h3>¡Tenemos que detener esto!</h3>
      <p class="lead">¡Súmate a nuestro esfuerzo colectivo!</p>
      <p><a href="" target="_blank">Infórmate.</a> 
        <a href="" target="_blank">Difunde. </a>
        <a href="" target="_blank">Consume responsablente.</a>
      </p>
      <hr>
    </div>
    <div class="form col-lg-6 col-md-8 col-sm-10">
      <h4>Descubre más y déjanos conocer tu opinión.</h4>
      <div class="form-group">
        <p>¿Consideras que México alcanzará la meta de cero de emisiones
            por cambios de uso del suelo forestal para el 2020?<br></p>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" value="option1" checked>
            Sí
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" value="option2">
            No
          </label>
        </div>
      </div>
      <div class="form-group">
        <p>¿Cuál crees que es el sector que genera mayores emisiones de CO2?<br></p>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" value="option1" checked>
            Sector Industrial (excluyendo energético)
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" value="option2">
            Sector agrícola
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" value="option3">
            Sector energético
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" value="option4">
            Sector Transportes
          </label>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="submit()">Ve las respuestas</button>
      </div>
    </div>
  </div>
</div>
