<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="text col-md-8 col-sm-10 text-center">
      <h3>¡Tenemos que detener esto!</h3>
      <p class="lead">¡Súmate a nuestro esfuerzo colectivo!</p>
      <p>Apoya. Difunde. Consume responsablente.
        <br>
        Descubre más y déjanos conocer tu opinión.
      </p>
    </div>
  </div>
  <form>
    <div class="form-group row">
      <p>¿Crees que México alcanzará la meta de cero de emisiones 
        por cambios de uso del suelo forestal para el 2020?
      <br>
      ¿Cuál crees que es el sector que genera mayores emisiones de CO2?</p>
    </div>
  </form>
</div>