<!--The content below is only a placeholder and can be replaced.-->
<aside>
  <ul>
    <li>
      <a class="github" href="https://github.com/fellowshipDC/pinos" target="_blank"><i class="fa fa-github fa-3x"></i></a>
    </li>
    <li>
      <a class="twitter" href="" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
    </li>
  </ul>
</aside>
<div class="container-fluid">
  <div class="text-center">
    <h3 class="display-2">La deforestación</h3>
    <p class="lead">Problema que te afecta directamente</p>
  </div>
  <app-intro></app-intro>
  <app-map></app-map>
  <app-infomexico></app-infomexico>
  <app-form></app-form>
</div>
<router-outlet></router-outlet>
