aside 
    ul   
        list-style none
        position fixed
        right 35px
        top 150px
        li
            margin-top 15px
            opacity 0.5
            a
                position relative
                text-align center
            a.github
                color #252525
            a.twitter
                color #0084b4
        li:hover
            opacity 1

@media screen and (max-width 991px)
    aside 
        ul   
            list-style none
            position fixed
            right 5px
            top 50px
            li
                margin-top 15px
                opacity 0.8
                a
                    position relative
                    text-align center
                a.github
                    color #252525
            li:hover
                opacity 1