<!--The content below is only a placeholder and can be replaced.-->
<aside>
  <ul>
    <li>
      <a class="github" href="https://github.com/fellowshipDC/pinos" target="_blank"><i class="fa fa-github fa-3x"></i></a>
    </li>
    <li>
      <a class="twitter" href="" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
    </li>
  </ul>
</aside>
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-4 text-center">
      <p>nuifsdn</p>
    </div>
  </div>
  <app-map></app-map>
  <app-form></app-form>
</div>
<router-outlet></router-outlet>
