<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="infomexico col-md-8 col-sm-11">
        <h3 class="display-5">Las cifras de México</h3>
        <p>En el periodo 2001-2016, los países con mayor pérdida de arbolado fueron Rusia y Brasil.
          México ocupa la 15º posición con más de 3.1 millones de hectáreas deforestadas. Lo cual 
          es equivalente a la emisión de más de 713 millones de toneladas de dióxido de carbono.
            <a href="http://www.globalforestwatch.org/countries/overview570" target="_blank"><sup>6</sup></a>
          <br>
          Las entidades que han sufrido mayor pérdida de deforestación son Chiapas, Campeche, Yucatán, 
          Quintana Roo, Veracruz y Oaxaca. Siguiendo la preocupante tendencia global de mayor deforestación 
          en bosques tropicales.
          <br>
          Por lo anterior, México se propuso tener un balance cero de emisiones asociadas 
          a los cambios de uso del suelo forestal para el año 2020. 
          <a href="http://www.conafor.gob.mx:8080/documentos/docs/7/1393Visi%C3%B3n%20de%20M%C3%A9xico%20sobre%20REDD_.pdf" target="_blank"><sup>6</sup></a>
          Sin embargo, en los principales 
          factores de la deforestación del país se encuentran la falta de coordinación del sector público, 
          actividades ilegales, cambio de uso de suelo y prácticas agrícolas no sustentables.
          <a href="https://www.forestcarbonpartnership.org/sites/fcp/files/2016/Sep/FCFP%20Annual%20Report%20FY16.pdf" target="_blank"><sup>8</sup></a> 
        </p>
      </div>
    </div>
  </div>