<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="infomexico col-lg-8 col-md-10 col-sm-11 text-center">
        <p class="cifras">Entre 2001-2016, México perdió más de <span class="emp1">3.1 </span><span class="emp2">millones de hectáreas deforestadas</span>. Lo cual 
          es significó la emisión de más de <span class="emp1">713</span><span class="emp2"> millones de toneladas de CO2</span>. Los años 2009
          y 2016 presentaron la mayor cantidad de deforestación y <span class="emp2">Chiapas, Campeche, Yucatán, Quintana Roo, 
          Veracruz y Oaxaca </span>fueron las entidades más afectadas. 
          <a href="http://www.globalforestwatch.org/countries" target="_blank"><sup>6</sup></a>
        </p>
        <app-graph></app-graph>
        <p>
          Por lo anterior, México se propuso tener un balance cero de emisiones asociadas 
          a los cambios de uso del suelo forestal para el año 2020. 
          <a href="http://www.conafor.gob.mx:8080/documentos/docs/7/1393Visi%C3%B3n%20de%20M%C3%A9xico%20sobre%20REDD_.pdf" target="_blank"><sup>7</sup></a>
          Sin embargo, en los principales factores de la deforestación del país se 
          encuentran la <span class="emp2">falta de </span> <span class="emp1">coordinación </span><span class="emp2">del sector público, 
          actividades <span class="emp1">ilegales</span>, cambio de </span><span class="emp1">uso de suelo</span><span class="emp2"> y prácticas 
          agrícolas </span><span class="emp1">no sustentables</span>.
          <a href="https://www.forestcarbonpartnership.org/sites/fcp/files/2016/Sep/FCFP%20Annual%20Report%20FY16.pdf" target="_blank"><sup>8</sup></a> 
        </p>
      </div>
    </div>
  </div>