.container-fluid .row .infomexico
    margin-bottom 50px
    margin-top 25px
    font-family 'Roboto Slab', serif
    overflow-wrap break-word
    color #7C7C7C
    line-height 1.5
    p
        font-size 20px
        margin-bottom 60px
        .emp1
            font-size 30px
            font-weight 700
        .emp2
            font-size 22px
            font-weight 700
        a
            color #7C7C7C
            font-size 15px

@media screen and (max-width: 767)
    .container-fluid .row .infomexico
        margin auto
        p
            font-size 18px
            .emp1
                font-size 26px
            .emp2
                font-size 20px
            a
                font-size 12px
        div.component
            display none 
@media screen and (max-width: 575px)
    .container-fluid .row .infomexico
        p
            font-size 15px
            .emp1
                font-size 21px
            .emp2
                font-size 16px
            a
                font-size 10px
        p.cifras
            display none
        div.component
            display none 


