<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="intro col-md-8 col-sm-11">
      <p class="lead text-center">La deforestación o tala de árboles es un proceso provocado por la acción humana, 
        en el que se destruye la superficie forestal. La agricultura y ganadería comercial, la minería y la expansión urbana 
        son causas principales por las que se tala para liberar espacio.
        <a href="https://www.forestcarbonpartnership.org/sites/fcp/files/DriversOfDeforestation.pdf_N_S.pdf" target="_blank"><sup>1</sup></a>
      </p>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="content col-md-8 col-sm-11">
      <h3 class="display-4">Peligro múltiple</h3>
      <br>
      <p>La deforestación impacta fuertemente en la <b>pérdida de la biodiversidad</b>. Más de la mitad 
          de la diversidad de plantas y animales, se encuentra en zonas de gran densidad de vegatación, como los bosques 
          tropicales con los que cuenta nuestro país.
          <a href="https://www.scientificamerican.com/article/deforestation-and-global-warming/" target="_blank"><sup>2</sup></a>
        <br>
        <br>
        El dióxido de carbono (CO2) representa el 65% de los gases invernadero emitidos por 
        la actividad humana.<a href="https://www.epa.gov/ghgemissions/global-greenhouse-gas-emissions-data" target="_blank"><sup>3</sup></a>
        La pérdida de árboles <b>disminuye la absorción del CO2 y la generación de oxígeno.</b> Se estima 
        que el 40% del oxígeno del planeta es generado por los bosques tropicales, 
        pese a que estos cubren únicamente el 6% de la superficie.
        <a href="https://sciencing.com/deforestation-affect-air-10632.html" target="_blank"><sup>4</sup></a>
        <br>
        <br>
        <b>¡Pero la tala de árboles también emite CO2! </b>Al ser cortadas, las plantas liberan al ambiente el carbono que 
        han acumulado dentro de ellas a lo largo de su vida. De hecho, la deforestación es responsable del 38% de las emisiones
        de CO2 del sector agrícola.
        <a href="http://www.fao.org/docrep/019/i3671e/i3671e.pdf" target="_blank"><sup>5</sup></a> 
      </p>
    </div>
  </div>
</div>