.container-fluid
    margin-top 90px
    margin-bottom 50px
    .row .intro p
        font-family 'Roboto Slab', serif
        font-weight 700
        font-size 25px
        color #828282
        a  
            color #828282
            font-size 15px
    .row
        margin-top 50px
        .content
            font-family 'Raleway', sans-serif
            margin-top 20px
            margin-bottom 30px
            h3 
                font-size 40px
                overflow-wrap break-word
                br    
                    display none
            h3 .display
                font-size 55px
                font-weight 700
                overflow-wrap break-word
            p.madeby
                font-size 13px
                margin-bottom 25px
            p 
                font-size 17px
                a  
                    color #000000
                    font-size 13px

@media screen and (max-width: 767px)
    .container-fluid
        margin-top 70px
        margin-bottom 70px
        .row .intro p
            font-size 20px
        .row .content
            h3 br    
                display inline
        
@media screen and (max-width: 575px)
    .container-fluid 
        margin-top 80px
        margin-bottom 30px
        .row .intro p
            font-size 18px
        .row .content
            h3 
                font-size 30px
            h3 .display
                font-size 45px
            p  
                font-size 15px
        
    
